<div class="container">
    <h2>Editar Género</h2>
    <form action="/Genero/Edit/{{genero.nombre}}" method="POST">
        <input type="hidden" name="originalNombre" value="{{genero.nombre}}">
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Género</label>
            <input type="text" id="nombre" name="nombre" class="form-control" value="{{genero.nombre}}" required>
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen URL</label>
            <input type="url" id="imagen" name="imagen" class="form-control" value="{{genero.imagen}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
    
    
    <form action="/Genero/Delete/{{genero.nombre}}" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
    
    <a href="/Genero" class="btn btn-secondary">Cancelar</a>
</div>
