
<div>
    <div class="row mb-100">
        <div class="col-md-6 w-100"> 
            <form action="/Pokemones/Filter"  class="d-flex  gap-2 ">
                <input type="text" name="nombre" class="form-control" placeholder="Buscar Pokémon..." value="{{nombre}}">
                
                <select name="tipoNombre" class="form-control" >
                    <option value="" disabled {{#unless tipoNombre}}selected{{/unless}}>Seleccione un tipo</option>
                    {{#each tipos}}
                        <option value="{{this.nombre}}" {{#if (eq this.nombre ../tipoNombre)}}selected{{/if}}>{{this.nombre}}</option>
                    {{/each}}
                </select>
                <select name="regionNombre" class="form-control" >
                    <option value="" disabled {{#unless regionNombre}}selected{{/unless}}>Seleccione una región</option>
                    {{#each regiones}}
                        <option value="{{this.nombre}}" {{#if (eq this.nombre ../regionNombre)}}selected{{/if}}>{{this.nombre}}</option>
                    {{/each}}
                </select>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
    <h2 class="pokemons-title">Pokémones</h2>
    <div class="pokemon-grid">
        {{#each pokemones}}
        <div class="pokemon-card ms-4" >
            <div class="pokemon-image">
                <img src="{{this.imagen}}" alt="{{this.nombre}}">
            </div>  
            <div class="pokemon-details">
                <h3 class="pokemon-name">{{this.nombre}}</h3>
                <p class="pokemon-type {{this.Tipo.nombre }}">Tipo: {{this.Tipo.nombre}}</p>
                <p class="pokemon-region">Región: {{this.Region.nombre}}</p>
            </div>
        </div>
        {{else}}
            <div class="alert alert-warning" role="alert">
                No hay pokemones disponibles
            </div>
        {{/each}}
    </div>
</div>


