<link rel="stylesheet" href="/Css/HomeView.css">
<div class="container-fluid py-4">
    <div class="row mb-100">
        <div class="col-md-6">
            <form action="/Series/Search" method="POST" class="d-flex gap-2">
                <input type="text" name="title" class="form-control" placeholder="Buscar series..." value="{{title}}">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="col-md-6">
            <form action="/Series/Filter" method="POST" class="d-flex gap-2">
                <select name="generoNombre" class="form-control" required>
                    <option value="" disabled {{#unless generoNombre}}selected{{/unless}}>Seleccione un género</option>
                    {{#each generos}}
                        <option value="{{this.nombre}}" {{#if this.isSelected}}selected{{/if}}>{{this.nombre}}</option>
                    {{/each}}
                </select>
                <button type="submit" class="btn btn-secondary">Filtrar</button>
            </form>
        </div>

    </div>

    <h2 class="series-title">Series</h2>
    <div class="series-grid">
        {{#each series}}
        <div class="serie-card" onclick="window.location.href='/Series/Detail/{{this.id}}'">
            <div class="serie-image">
                <img src="{{this.imagenPortada}}" alt="{{this.title}}">
                <div class="serie-overlay">
                    <h3 class="serie-title">{{this.title}}</h3>
                </div>
            </div>
        </div>
        {{else}}
        <div class="alert">No hay series disponibles</div>
        {{/each}}
    </div>
</div>
