<link rel="stylesheet" href="/Css/SeriesView.css">
<div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Series</h2>
        <a href="/Series/Add" class="btn btn-primary ">Agregar Series</a>
    </div>
    <div class="series-grid ">
        {{#each series}}
        <div class="serie-card"onclick="window.location.href='/Series/Detail/{{this.id}}'">
            <div class="serie-image">
                <img src="{{this.imagenPortada}}" alt="{{this.title}}">
                <div class="serie-overlay">
                    <h3 class="serie-title">{{this.title}}</h3>
                </div>
            </div>
        </div>
        {{else}}
        <div class="alert">No hay series disponibles</div>
        {{/each}}
    </div>
    
</div>

